@model MobileBgWatch.ViewModels.VehiclesListViewModel;
@{
    ViewData["Title"] = "Home Page";
}

@{
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger col-md-6">
            @ViewBag.ErrorMessage
        </div>
    }

    @if (TempData["LimitMessage"] != null)
    {
        <div class="alert alert-warning col-md-6">
            @TempData["LimitMessage"]
        </div>
    }

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success col-md-6">
            @TempData["SuccessMessage"]
        </div>
    }

    <h5 id="searchUrlh5">
        <b class="vehicles_count text-success" style="font-size: 20px; font-weight: bold;">All @Model.VehiclesCount</b> vehicle ads for search link:
        <b style="font-size: 12px;">@Model.SearchUrl</b>
    </h5>
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info">@ViewBag.Message</div>
    }
    else
    {
        <ul class="ul_container">
            @foreach (var vehicle in Model.Vehicles)
            {
                string currentPriceClass;
                string previousPriceClass;
                if (vehicle.PreviousPrice.Price != 0)
                {
                    currentPriceClass = vehicle.CurrentPrice.Price < vehicle.PreviousPrice?.Price ? "text-success" : "text-danger";
                    previousPriceClass = vehicle.CurrentPrice.Price < vehicle.PreviousPrice?.Price ? "text-danger" : "text-success";
                }
                else
                {
                    currentPriceClass = "text-success";
                    previousPriceClass = "text-danger";
                }


                <li class="new_item">
                    <a class="no_underline" asp-action="ById" asp-route-id="@vehicle.Id">
                        <div class="item_pic">
                            <img src="@vehicle.ImageUrl"
                                 title="@vehicle.Name" />
                        </div>
                        <div class="name_and_price">
                            <div class="item_text">
                                @vehicle.Name
                            </div>
                            <div class="price_container">
                                <p class="item_price @currentPriceClass">
                                    @vehicle.CurrentPrice.Price.ToString("N0") <span class="item_price_currency @currentPriceClass">@vehicle.CurrentPrice.Currency</span>
                                </p>
                                <p class="item_previous">
                                    Previous price:
                                    <span class="item_previous_price @previousPriceClass">@vehicle.PreviousPrice.Price.ToString("N0")</span>
                                    <span class="item_previous_currency @previousPriceClass">@vehicle.PreviousPrice.Currency</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
            }
        </ul>
    }
    <partial name="_PagingPartial" model="@Model" />

}
